{
	"root": true,
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"parser": "@typescript-eslint/parser",
	"rules": {
		"handle-callback-err": "off",
		"max-nested-callbacks": ["error", { "max": 4 }],
		"max-statements-per-line": ["error", { "max": 2 }],
		"no-empty-function": "error",
		"no-lonely-if": "error",
		"@typescript-eslint/no-shadow": ["error"],
		"no-var": "error",
		"prefer-const": "error",
		"eqeqeq": ["error", "smart"],
		"prefer-template": "error",
		"spaced-comment": "error",
		"@typescript-eslint/explicit-module-boundary-types": 0,
		"yoda": "error"
	},
	"plugins": ["@typescript-eslint"]
}
